@font-face {
  font-family: 'toxica';
  src: url('fonts/toxica__-webfont.eot');
  src: url('fonts/toxica__-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/toxica__-webfont.woff2') format('woff2'),
  url('fonts/toxica__-webfont.woff') format('woff'),
  url('fonts/toxica__-webfont.ttf') format('truetype'),
  url('fonts/toxica__-webfont.svg#toxicaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'toxica', courrier;
  text-align: center;
  font-size: 55px;
  color: white;
  margin: 50px 0 0 0;
  font-weight: normal;
}

p { margin: 25px 0 25px 0;
}

body {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  background-image: url("images/fondrubrique.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width:740px;
}

.navigation {
  margin-top: 20px;
}

.navigation a {
  display: block;
  width: 100px;
  float: left;
}

.navigation a.logo img {
  width: 70px;
}

.navigation a.lien {
  padding-top: 6px;
  color:black;
  text-decoration: none;
  font-weight: bold;
}

.navigation a.lien:hover {
  color: #555;
  text-decoration: underline;
}

.image {
  display: inline;
}
.image img {
    max-height: 362px;
    max-width: 362px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.image.smaller img{
  max-width: 238px;
}

.header { 
  background-color: rgba(100,100,100,.5);
  clear: both;
}

.footer{
  border-top: 1px solid black;
  padding-top: 10px;
  font-size: 12pt;
  margin-top: 50px;
} 

.footer a{
  float: right;
}
