h1 {
  font-family: 'Lakki Reddy', cursive;
  text-align: center;
  font-size: 55px;
  color: white;
  margin: 50px 0 0 0;
  text-transform: uppercase;
}

p { margin: 25px 0 25px 0;
}

body {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  background-image: url("images/fondrubrique.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width:740px;
}

.navigation {
  margin-top: 20px;
}

.navigation a {
  display: block;
  width: 100px;
  float: left;
}

.navigation a.logo img {
  width: 70px;
}

.navigation a.lien {
  padding-top: 6px;
  color:black;
  text-decoration: none;
  font-weight: bold;
}

.navigation a.lien:hover {
  color: #555;
  text-decoration: underline;
}

.image {
  display: inline;
}
.image img {
    max-height: 362px;
    max-width: 362px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.image.smaller img{
  max-width: 238px;
}

.header { 
  background-color: rgba(100,100,100,.5);
  clear: both;
}

